:root {
  --primary-font: 'Barlow Semi Condensed', sans-serif;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-sm: calc(var(--font-size-base) * 0.875);
  --font-size-lg: calc(var(--font-size-base) * 1.25);
  --font-size-xlg: calc(var(--font-size-base) * 2);
  --font-size-xxlg: calc(var(--font-size-base) * 2.5);
  --dark-text-color: hsl(229, 25%, 31%);
  --score-text-color: hsl(229, 64%, 46%);
  --header-outline-color: hsl(217, 16%, 45%);
  --white: hsl(0, 0%, 100%);
  --margin-base: 1em;
  --margin-xsm: calc(var(--margin-base) * 0.5);
  --margin-sm: calc(var(--margin-base) * 0.875);
  --margin-lg: calc(var(--margin-base) * 1.25);
  --margin-xlg: calc(var(--margin-base) * 2);
  --margin-xxlg: calc(var(--margin-base) * 2.5);
  --padding-base: 1em;
  --padding-xsm: calc(var(--padding-base) * 0.5);
  --padding-sm: calc(var(--padding-base) * 0.875);
  --padding-lg: calc(var(--padding-base) * 1.25);
  --padding-xlg: calc(var(--padding-base) * 2);
  --padding-xxlg: calc(var(--padding-base) * 2.5);
  --radius-base: 0.4em;
}

/*
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)
*/
:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
a,
a:link,
a:active {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-color: transparent;
  color: inherit;
}

body {
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  line-height: 1.5;
  background-image: radial-gradient(circle, #1f3756, #141539);
  color: var(--white);
}

.primary-text {
  text-transform: uppercase;
  font-size: var(--font-size-xxlg);
  letter-spacing: 0.08em;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.secondary-text {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--header-outline-color);
  border-radius: var(--radius-base);
  padding: var(--padding-base) var(--padding-sm);
  width: 90%;
  margin: 0 auto;
  margin-top: var(--margin-lg);
}

.header__icon {
  align-self: center;
}

.header__icon--img {
  width: 80%;
}

.header__score {
  background-color: var(--white);
  border-radius: 0.4em;
  padding: 0 var(--padding-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: initial;
  transform: scale(1, 1.1);
}

.header__score--title {
  color: var(--score-text-color);
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
}

.header__score--number {
  color: var(--dark-text-color);
  font-size: var(--font-size-xlg);
  transform: scale(1.3);
}

.game-select {
  margin-top: var(--margin-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.game-menu {
  background-image: url(/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  max-width: 16em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-menu > *:nth-child(1) {
  transform: translate(-25%, 25%);
}

.game-menu > *:nth-child(3) {
  transform: translate(25%, 25%);
}

.game-shapes {
  height: 8em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.game-shapes__text {
  margin-top: var(--margin-xxlg);
}

[data-items='paper'] {
  /* Attribute has this exact value */
  background-image: radial-gradient(circle at center, white 50%, #4865f4 50%, #5671f5);
}

[data-items='scissors'] {
  /* Attribute has this exact value */
  background-image: radial-gradient(circle at center, white 50%, #ec9e0e 50%, #eca922);
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  align-self: center;
  justify-self: center;
}

[data-items='rock'] {
  /* Attribute has this exact value */
  background-image: radial-gradient(circle at center, white 50%, #dc2e4e 50%, #dd405d);
}

.btn {
  padding: 0.6em 2.2em;
  border-radius: var(--radius-base);
}

.btn__rules {
  border: 2px solid var(--header-outline-color);
  display: block;
  margin: 0 auto;
}

.btn__reset {
  padding: 0.8em 2.2em;
  background-color: var(--white);
  color: var(--dark-text-color);
}

.rules-popup {
  background-color: var(--white);
  display: none;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: var(--padding-xlg) var(--padding-lg);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 600px) {
  .rules-popup {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
    border-radius: var(--radius-base);
    margin: 0 auto;
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 600px) {
  .rules-popup__img {
    order: 3;
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: var(--margin-xlg);
  }
}

.rules-popup__text {
  color: var(--dark-text-color);
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .rules-popup__text {
    justify-self: self-start;
  }
}

@media only screen and (min-width: 600px) {
  .rules-popup__btn {
    justify-self: self-end;
  }
}

.game-play {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: var(--margin-lg);
  height: 75vh;
  display: none;
}

.game-play__user, .game-play__house, .game-play__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-play__btn {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: var(--margin-lg);
}

.game-play__result {
  grid-column: 1 / span 2;
  justify-self: center;
}
/*# sourceMappingURL=main.css.map */