@mixin gradient-radial(
  $inner-color: hsl(214, 47%, 23%),
  $outer-color: hsl(237, 49%, 15%)
) {
  background-image: radial-gradient(circle, $inner-color, $outer-color);
}
/*
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)
*/
@mixin gradient-radial-game-items(
  $inner-color: #1f3756,
  $outer-color: #141539
) {
  background-image: radial-gradient(
    circle at center,
    white 50%,
    $inner-color 50%,
    $outer-color
  );
}
