// body background radial-gradient(circle closest-corner,#1f3756 -20% , #141539 )
// body {
//   @include gradient-radial(#1f3756, #141539);
//   background: radial-gradient(circle closest-corner, #1f3756, #141539);
// }

// fonts
:root {
  // primary font family:
  --primary-font: 'Barlow Semi Condensed', sans-serif;

  // fonts weight:
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  // font size:
  --font-size-base: 1rem; // Assumes the browser default, typically `16px`
  --font-size-sm: calc(var(--font-size-base) * 0.875);
  --font-size-lg: calc(var(--font-size-base) * 1.25);
  --font-size-xlg: calc(var(--font-size-base) * 2);

  // text color
  --dark-text-color: hsl(229, 25%, 31%);
  --score-text-color: hsl(229, 64%, 46%);
  --header-outline-color: hsl(217, 16%, 45%);
  --white: hsl(0, 0%, 100%);
  // margin
  --margin-base: 1em;
  --margin-xsm: calc(var(--margin-base) * 0.5);
  --margin-sm: calc(var(--margin-base) * 0.875);
  --margin-lg: calc(var(--margin-base) * 1.25);
  --margin-xlg: calc(var(--margin-base) * 2);
  // padding
  --padding-base: 1em;
  --padding-xsm: calc(var(--padding-base) * 0.5);
  --padding-sm: calc(var(--padding-base) * 0.875);
  --padding-lg: calc(var(--padding-base) * 1.25);
  --padding-xlg: calc(var(--padding-base) * 2);
}
