{
    "presets": [
       [ "@babel/preset-env",{
            "targets":{
                "browser":[
                    "last 5 versions","ie >= 8"
                ]
            }
        }]
    ]
}