.game-play {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: var(--margin-lg);
  height: 75vh;
  @include respond(tab) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 40em;
    margin: 0 auto;
    height: initial;
    margin-top: var(--margin-xxlg);
  }

  &__user,
  &__house,
  &__result {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tab) {
      font-size: var(--font-size-lg);
    }
  }
  &__btn {
    &--rules {
      grid-column: 1 / span 2;
      justify-self: center;
      margin-top: var(--margin-lg);
      @include respond(tab) {
        position: absolute;
        bottom: 10%;
        right: 10%;
      }
    }
  }
  &__result {
    grid-column: 1 / span 2;
    justify-self: center;
    @include respond(tab) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}
