// reset style :
:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
// reset list
ul {
  list-style: none;
}
// reset anchor and button element:

button,
a,
a:link,
a:active {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-color: transparent;
  color: inherit;
}
html {
  font-size: 62.5%; // 62.5= 10px/16px => 1rem == 10px;
}
.body {
  font-family: var(--primary-font);
  font-size: var(--font-size-primary);
  line-height: 1.5;
  color: var(--text-color-primary);
  &--dark {
    // colors variables for the dark mode :
    // background color
    --background-primary: var(--dark-blue);
    --background-secondary: var(--very-dark-blue-1);
    // text colors:
    --text-color-primary: var(--white);
    // box shadow
    --shadow-color-primary: var(--very-dark-blue-2);
  }
}
h1,
h2,
h3 {
  font-size: inherit;
}
