.primary-text {
  text-transform: uppercase;
  font-size: var(--font-size-xxlg);
  letter-spacing: 0.08em;
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.secondary-text {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
}
