.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--header-outline-color);
  border-radius: 0.4em;
  padding: var(--padding-xlg) var(--padding-lg);
  width: 90%;
  margin: 0 auto;
  margin-top: var(--margin-lg);
  &__icon {
    align-self: center;
    &--img {
      width: 80%;
    }
  }
  &__score {
    background-color: var(--white);
    border-radius: 0.4em;
    padding: var(--padding-xsm) var(--padding-xlg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    // to decease height of score element
    line-height: initial;
    // increase size of score card
    transform: scale(1.1, 1.4);

    &--title {
      color: var(--score-text-color);
      font-size: var(--font-size-sm);
      letter-spacing: 0.2em;
    }
    &--number {
      color: var(--dark-text-color);
      font-size: var(--font-size-xlg);
      // increase size of score
      transform: scale(1.5);
    }
  }
}
