.rules-popup {
  background-color: var(--white);
  display: none;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: var(--padding-xlg) var(--padding-lg);
  position: absolute;
  @include respond(tab) {
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
    border-radius: var(--radius-base);
    margin: 0 auto;
    bottom: initial;
    // to center the container vertically
    top: 50%;
    transform: translateY(-50%);
  }
  &__img {
    @include respond(tab) {
      order: 3;
      grid-column: 1 / span 2;
      justify-self: center;
      margin-top: var(--margin-xlg);
    }
  }
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  &__text {
    color: var(--dark-text-color);
    text-transform: uppercase;
    @include respond(tab) {
      justify-self: self-start;
    }
  }
  &__btn {
    @include respond(tab) {
      justify-self: self-end;
    }
  }
}
